.pfp{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 940px;
    padding-bottom: 30px;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.top-hdr{
    display: flex;
    flex-direction: row;
}

.cart{
    display: flex;
    color: #362418;
    padding-top: 35px;
    padding-left: 30px;
}

.carttab{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
    width: 60%;
    border-radius: 5px;
    background-color: #FFD2E5;
    margin-left: 20px;
    padding: 15px;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.carttab .listcart .item img{
    width: 50px;
    height: 50px;
}

.carttab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listcart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #362418;
    border-radius: 50%;
    padding-top: 3px;
}

.listcart .quantity span:nth-child(2){
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.listcart .item:nth-child(even){
    background-color: #ffa0c8;
}

.listcart{
    overflow: auto;
}

listcart::-webkit-scrollbar{
    width: 0;
}

.head{
    background-color: #362418;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: ivory;
    display: flex;
    align-items: center;
}

.sum{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #362418;
}

.preview {
    max-width: 1000px;
    position: relative;
    margin: auto;
    animation: scrollAnimation 12s linear infinite;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 35px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: #FFD2E5;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #362418;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active, .dot:hover {
    background-color: #FFD2E5;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

nav{
    background-color: #FFD2E5;
    grid-area: nav;
}

h1{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.catprod{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    size: 25px;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    grid-area: main;
}

.products{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

article{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

button{
    border-radius: 20px;
    padding: 20px 16px;
    font-family: monospace;
    background-color: #362418;
    border-color: #362418;
    color: #FFD2E5;
    align-items: center;
}

img{
    border-radius: 30px;
}

footer{
    background-color: #362418;
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav2{
    margin-left: 50px;
    margin-bottom: 40px;
}

/* phone */
@media screen and (max-width: 641px) {
    .prev, .next{
        margin-top: 50px;
    }

    .top-hdr{ 
        max-width: 100vw;
        width: fit-content;
    }

    .pfp{
        padding-right: 0px;
        padding-bottom: 20px;
    }
    
    li{
        padding-left: 70px;
        padding-top: 50px;
        font-size: 10px;
    }
}

/* tablet */
@media screen and (max-width: 1007px) and (min-width:641px ){
    .prev, .next{
        margin-top: 5px;
    }
    
    .top-hdr{ 
        max-width: 100vw;
        width: fit-content;
    }

    .pfp{
        padding-right: 340px;
        padding-bottom: 15px;
    }

    li{
        padding-top: 45px;
        font-size: 17px;
    }
}
